@-moz-document domain("diksiyonaryo.ph") {
body {
    background-color: #21222C;
    color: #7991E8;
}
/* hide scrollbar webkit */
::-webkit-scrollbar {
    display: none;
}
.footer {
    background-color: #282A36;
}
.navigation, .navigation a {
    background-color: #282A36;
    color: #BD93F9;
}
.navigation a:hover, .navigation a:focus {
    color: #FF79C6;
}
.btn-default {
    background-color: #44475A;
    border: none;
    color: #91A8E2;
    border-radius: 0px;
}
.btn-default.active.focus, .btn-default.active:focus, .btn-default.active:hover, .btn-default:active.focus, .btn-default:active:focus, .btn-default:active:hover, .open>.dropdown-toggle.btn-default.focus, .open>.dropdown-toggle.btn-default:focus, .open>.dropdown-toggle.btn-default:hover, .btn-default:hover, .btn-default.active, .btn-default:active, .open>.dropdown-toggle.btn-default, .btn-default.focus, .btn-default:focus {
    background-color: #52556C;
    border: none;
    color: #91A8E2;
    outline: 0;
}
.well {
    background-color: #383A59;
    border: none;
    border-radius: 0px;
    box-shadow: none;
}
.gray {
    color: #7991E8;
}
a {
    color: #3779CE;
}
a:focus, a:hover {
    text-decoration: none;
    color: #3794FF;
}
.letter-list .letter {
    color: #3779CE;
    border: none;
    padding-right: 4px;
    padding-left: 4px;
}
.letter-list .letter-selected {
    color: #BD93F9;
}
.letter-list .letter-selected:hover, .letter-list .letter-selected:focus {
    color: #FF79C6;
}
.letter:hover, .letter:focus {
    color: #3794FF;
}
.pronunciation, .pos, .headword, .etymology, .domain, .alternate-pronunciation, .derivative {
    color: #91A8E2;
}
.definition-example, .definition-text, .sense-counter, .sense-confer, .sense-synonyms, .sense-variant {
    color: #7991E8;
}
.pagination-list a {
    color: #3779CE;
}
.pagination-list a:hover, .pagination-list a:focus {
    color: #3794FF;
}
.pagination-list .page-selected {
    color: #BD93F9;
}
.pagination-list .page-selected:hover, .pagination-list .page-selected:focus {
    color: #FF79C6;
}
input.search-bar {
    border-radius: 0px;
    color: #7991E8;
    background-color: #191A21;
    border: none;
    transition: none;
}
.form-control:focus {
    border: none;
    box-shadow: none;
}
/* search bar autofill webkit */
input:-internal-autofill-selected, input:-internal-autofill-selected:focus, input:-internal-autofill-previewed:focus {
    -webkit-box-shadow: 0 0 0 50px #191A21 inset;
    -webkit-text-fill-color: #7991E8;
}
input[class="search-bar form-control"]::placeholder {
    color: #62729A;
}
hr {
    visibility: hidden;
    margin-top: 5px;
    margin-bottom: 5px;
}
}
