/* ==UserStyle==
@name         steamworkshopdownloader.io - Lunar Duck
@namespace    sabakuran
@description  DDG inspired theme for steamworkshopdownloader.io - WIP
@author       sabakuran (https://github.com/sabakuran)
@homepageURL  https://github.com/sabakuran/personal-stylesheets
@supportURL   https://github.com/sabakuran/personal-stylesheets/issues
@updateURL    https://raw.githubusercontent.com/sabakuran/personal-stylesheets/master/css/steamworkshopdownloader.io.user.styl
@preprocessor stylus
@version      0.0.1
@license      WTFPL
===================
@var select browser "Browser" {
    "Chromium*":"chromium",
    "Firefox":"firefox",
}
@var checkbox leftover "Hide leftovers (Enable this if you have uBlock Origin installed)" 0
@var checkbox darkToggle "Hide on-site dark mode toggle" 0
@var checkbox bgToggle "Hide background image" 1
@var checkbox hidSettings "Hide on-site 'Settings' button" 0
==/UserStyle== */
@-moz-document domain("steamworkshopdownloader.io") {
    body {
        background-color: #1c1c1c;
        color: #ccc;
    }
    a {
        color: #3A7A61;
        &:hover, &:focus, &:active {
            color: #58B792;
            text-decoration: none;
        }
    }
    .bg-light {
        background-color: red !important;
    }
    // searchbar
    .input-group-text {
        background-color: #333;
        color: #ccc;
        border: 0;
    }
    .form-control {
        background-color: #333;
        color: #ccc;
        border: 0;
        transition: none;
        &:focus {
            color: #ccc;
            background-color: #333;
            border: 0;
            box-shadow: none;
        }
    }
    // checkbox
    .custom-control {
        border: 0;
    }
    .custom-control-input {
        border: 0;
        box-shadow: none;
        outline: none;
    }
    .custom-control-input:not(:disabled):active ~ .custom-control-label::before {
        color: #ccc;
        background-color: #333;
        border: 0;
    }
    .custom-control-label::after {
        background: no-repeat 50% / 50% 50% #333;
        border: 0;
    }
    .custom-checkbox .custom-control-input:checked ~ .custom-control-label::before {
        animation: none;
    }
    .custom-control-input:checked ~ .custom-control-label::before {
        background-color: #333;
        color: #ccc;
        border: 0;
    }
    .custom-control-label::before, .custom-file-label, .custom-select {
        transition: none;
    }
    input[type="radio"], input[type="checkbox"] {
        border: 0;
    }
    .list-group-item {
        background-color: #1C1C1C;
    }
    .list-group-item-action {
        color: #ccc;
    }
    #questionsAccordion {
        border: 5px solid #383838;
        border-radius: 4px;
    }
    .list-group-item {
        border: 0;
        box-shadow: 0 1px 3px #00000080;
    }
    .list-group-item:hover {
        box-shadow: 0 1px 3px #00000080;
    }
    .list-group-item.list-group-item-action.pointer {
        background-color: #383838;
    }
    .list-group-item-action:hover, .list-group-item-action:focus {
        color: #ccc;
    }
    .badge {
        transition: none;
    }
    .badge-primary {
        background-color: #1D3D30;
        color: #ccc;
    }
    .bg-white {
        background-color: #383838 !important;
    }
    // button stuff
    .btn {
        transition: none;
    }
    .btn-primary {
        background-color: #1D3D30;
        color: #ccc;
        border: 0;
        transition: none;
        &:hover, &:focus, &:active {
            background-color: #3A7A61;
        }
    }
    .btn-light {
        color: #ccc;
    }
    .btn.btn-light.bg-white.btn-sm.p-0.m-0 {
        border: 0;
    }
    .btn-primary:not(:disabled):not(.disabled):active, .btn-primary:not(:disabled):not(.disabled).active, .show > .btn-primary.dropdown-toggle {
        background-color: #3A7A61;
        color: #ccc;
        border: 0;
    }
    .btn-primary:not(:disabled):not(.disabled):active:focus, .btn-primary:not(:disabled):not(.disabled).active:focus, .show > .btn-primary.dropdown-toggle:focus {
        box-shadow: none;
        color: #ccc;
    }
    .btn-light:focus, .btn-light.focus {
        color: #ccc;
    }
    .btn-primary:focus, .btn-primary.focus {
        border: 0;
        box-shadow: none;
        color: #ccc;
    }
    .card {
        border: 0;
    }
    .LatestUpdates_latestUpdatesCollapsed__2MAwf {
        &:after {
            background-image: none;
        }
    }
    .glass {
        box-shadow: none;
        &:before {
            filter: none;
            background-color: #282828;
        }
    }
    .glass.card {
        background-color: #282828;
    }
    // footer
    .glass.alert-warning {
        background-color: #544603;
    }
    .glass.alert-secondary {
        background-color: #282828;
        opacity: 100%;
    }
    .alert-warning {
        color: #FDD20A;
    }
    .card.glass.mb-2 {
        box-shadow: none;
    }
    // browser compatibility
    if (browser is chromium) {
        // chromium scrollbar
        html {
            &::-webkit-scrollbar {
                width: 15px;
            }
            &::-webkit-scrollbar-track {
                background: #161616;
                border-left: 1px solid #282828;
            }
            &::-webkit-scrollbar-thumb {
                background-color: #282828;
                border-radius: 0;
            }
        }
    } else if (browser is firefox) {
        // firefox scrollbar
        html {
            scrollbar-color: #282828 #161616;
            scrollbar-width: auto;
        }
    }
    if bgToggle {
        .background-image {
            display: none;
        }
    }
    if hidSettings {
        [href="/settings"]>.m-1.btn-primary.btn-sm.btn {
            display: none;
        }
    }
    if leftover {
        .p-1.do-not-darkmode-but-darken.row {
            display: none;
        }
    }
}
@-moz-document url-prefix("https://steamworkshopdownloader.io/settings") {
    if darkToggle {
        .glass.mb-2.card {
            &:nth-of-type(2) {
                display: none;
            }   
        }
    }
}
